.purchaseInput{
    width: 100px;
    border-radius:2px;
    margin-right: 10px;
    height: 30px;
}
.description{
    width: 400px;
    border-radius:3px;
    margin-right: 10px;
}
.container{
    
}